@model IEnumerable<ProyectoMvcNetCoreAlmacen.Models.Producto>

<section class="features2 cid-sgSyF0EE4Z" id="features2-d">
	<div class="container">
		<h1 class="mbr-section-title mbr-fonts-style mb-0 mbr-bold display-5">Productos del almacen</h1>
		<br />
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="item features-image col-12 col-md-6 col-lg-3">
					<div class="item-wrapper">
						<div class="item-img">
							<img src="@Url.Content("~/imagenes/" + item.Imagen)"
								 onerror="this.onerror=null;this.src='https://static.vecteezy.com/system/resources/previews/005/720/408/non_2x/crossed-image-icon-picture-not-available-delete-picture-symbol-free-vector.jpg';"
								 alt="Imagen del producto"
								 title="@item.Nombre">
							<h6 class="item-subtitle mbr-fonts-style text-muted mb-0 mt-2 display-7"
								style="font-style: italic; font-size: 0.8em; display: block; text-align: center;">
								Num articulo: @item.IdProducto
							</h6>

							<span class="item-subtitle mbr-fonts-style mb-0 mt-2 display-4" style="position: absolute; bottom: 5px; right: 5px;">
								@item.Stock
							</span>
						</div>
						<div class="item-content">
							
							<h5 class="item-title mbr-fonts-style mt-0 mb-0 mbr-bold display-4">
								@item.Nombre
							</h5>
							<p class="mbr-text mbr-fonts-style mt-4 mb-0 display-7">Modelo: @item.Modelo</p>

							<h6 class="item-subtitle mbr-fonts-style mb-0 mt-2 display-4">
								@item.Precio €
							</h6>
							<h6 class="item-subtitle mbr-fonts-style text-muted mb-0 mt-2 display-7" style="font-style: italic;">
								@item.Proveedor.Nombre
							</h6>
							<p class="mbr-text mbr-fonts-style mb-0 mt-2 display-7">@item.Descripcion</p>
							
						</div>
						<div class="mbr-section-btn item-footer"><a class="btn item-btn btn-secondary-outline display-7" asp-controller="Productos" asp-action="Details" asp-route-idproducto="@item.IdProducto">Detalles </a></div>
					</div>
				</div>
			}
		</div>
	</div>
</section>