@model IEnumerable<ProyectoMvcNetCoreAlmacen.Models.Producto>

<section data-bs-version="5.1" class="features01 nutritionm5 cid-uDfzjME4wx" id="features-1-uDfzjME4wx">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="title-wrapper">
					<h2 class="mbr-section-title mbr-fonts-style display-2">Produtos del almacen</h2>
				</div>
			</div>
		</div>
		<div class="row items-wrapper">
			@foreach (var item in Model)
			{
				<div class="item features-image col-12 col-lg-4">
					<div class="item-wrapper item-wrap">
						<div class="item-img card_1">
							<img src="@Url.Content("~/imagenes/" + item.Imagen)"
								 onerror="this.onerror=null;this.src='https://static.vecteezy.com/system/resources/previews/005/720/408/non_2x/crossed-image-icon-picture-not-available-delete-picture-symbol-free-vector.jpg';"
								 alt="Imagen del producto"
								 title="@item.Nombre"
								 style="width:300px; height:300px; object-fit:cover;">
						</div>
						<div class="item-content">
							<h4 class="item-title mbr-fonts-style display-5" style="min-height: 80px; /* Ajusta la altura mínima para que todos los títulos tengan el mismo tamaño */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: large;
        font-weight: bold;
        padding: 10px;">
								@item.Nombre
							</h4>
							@*  <p class="item-text mbr-fonts-style display-4">@item.Descripcion</p> *@
							<p class="item-text mbr-fonts-style display-4">Stock: @item.Stock</p>
							<p class="item-text mbr-fonts-style display-4">Precio: @item.Precio</p>
							<p class="item-text mbr-fonts-style display-4">Proveedor: @item.Proveedor.Nombre</p>
							<div class="mbr-section-btn">
								<a href="#" class="btn item-btn btn-secondary display-4">Detalles</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="border-wrap"></div>
</section>
