@model NugetProyectoAlmacen.Models.AlertaStock

<div>
    <h4>AlertaStock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlertaStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlertaStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlerta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlerta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("AletaStocks", "Calendar", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to Calendar</a>
</div>
